body {
  font-family: helvetica;
}
p {
  margin: 40px 0px;
  text-align: justify;
}
p.call-to-action {
  font-size: 25px;
  text-align: center;
}
a {
  color: #000000;
}
div#main, div#example {
  width: 700px;
  margin: 30px auto 20px auto;
}
div#main {
  text-align: center;
  font-family: helvetica;
  font-size: 17px;
  line-height: 26px;
  color: #666666;
}
div#example {
  overflow: auto;
}

div#example h3 span {
  font-size: 11px;
  font-weight: normal;
  line-height: 20px;
  color: #bbb;
  display: block
}

div#hello-world {
  font-size: 16px;
  padding: 5px;
}

div#hello-world input {
  font-size: 16px
}

div#hello-world form {
  margin-top: 20px;
}

div#hello-world span {
  color: #47AD91;
}
